.fondosession{
   background: url(/assets/hero24.jpg) no-repeat center center fixed;
   	padding-top: 100px;
  
   	padding-bottom: 250px; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
